<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="logging_path" source="logging.path"/>
    <springProperty name="logging_pattern_file" source="logging.pattern.file"/>
    <springProperty name="logging_level_root" source="logging.level.root"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${logging_pattern_file}</Pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>false</append>
        <file>${logging_path}/graphql-test.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${logging_pattern_file}</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logging_path}/graphql-test.archived.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>10</maxHistory>
        </rollingPolicy>

    </appender>

    <root level="${logging_level_root}">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE"/>
    </root>



</configuration>