<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
    <div th:fragment="footer">
        <div class="container">
            <footer>
                <!-- this is footer -->
                © 2018 abeseda@cinimex.ru
                <span sec:authorize="isAuthenticated()">
                    | Logged user: <span sec:authentication="name"></span> |
                    Roles: <span sec:authentication="principal.authorities"></span> |
                    <a th:href="@{/logout}">Sign Out</a>
                </span>
                <span sec:authorize="!isAuthenticated()">
                    | You must be <a href="/login">authenticated</a> to use GraphQL queries.
                </span>
            </footer>
        </div>

        <script type="text/javascript" src="/assets/bootstrap-4.1.1/js/bootstrap.min.js"></script>
    </div>

</body>
</html>