<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>GraphQL test</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
    <div th:replace="fragments/header :: header"/>
    <div class="container">
        <h1>GraphQL tools</h1>
        <ul>
            <li><a href="/graphiql"><span>Graph<b><em>i</em></b>QL Console</span></a></li>
            <li><a href="/graphql-voyager"><span>GraphQL Voyager</span></a></li>
            <li><a href="/graphql-docs"><span>GraphQL Documentation Explorer</span></a></li>
        </ul>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</body>
</html>